



hr {
	position: relative;
	z-index: 2;
	margin-top: 5%;
	padding:0;
    width: 0; /* On commence avec une largeur de 0 */
    height: 0.5px; /* Hauteur du trait */
    background-color: white; /* Couleur du trait*/
    animation: grow 3s ease-in-out forwards; /* Animation de croissance */
}

@keyframes grow {
    from {
        width: 0; /* Début à 0% de largeur */
    }
    to {
        width: 100%; /* Fin à 100% de la largeur du parent */
    }
}


h1 {
	position: relative;
	z-index: 2;
	margin-top: 4vw;
	margin-bottom: 10%;
	-webkit-animation-name:deplace;
	-webkit-animation-duration:5s;
	-webkit-animation-delay: 0s;
	-webkit-animation-fill-mode:forwards;

}

@-webkit-keyframes deplace
{
	0% {margin-left: 30vw;
		font-size: clamp(30px, 8vw, 70px);}
	30% {margin-left: 30vw;
		font-size: clamp(30px, 8vw, 70px);}
	100% {margin-left: 8vw;
		font-size: clamp(30px, 3vw, 70px);}
}




