
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; /*permet aux vieux navigateurs de comprendre que ces balises sont de type bloc*/
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
	background: linear-gradient(to right, rgb(01, 08, 23)70%, rgba(01, 08, 23, 0)), url(Image2.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;
	font-size: clamp(16px, 1.5vw, 25px);
	scroll-behavior: smooth;
}

li {
	list-style-type: none;
}

header {
	margin: 0;
	padding: 0;
}

#top {
	margin: 0;
	padding: 0;
}

img {
	width: clamp(150px, 70vw, 1000px);
	border-radius: 5%;
}

main {
	opacity: 0;
	animation: fadeIn 10s forwards; /* Animation d'apparition */
	animation-delay: 4s;
	height: 100%;
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 768px) {
    main {
		margin-left: 10px;
		text-align: left;
    }

	h2 {
		width: 100vw;
	}

}


address>ul>li {
	margin-top: 10px;
	font-style: normal;
	padding: 0;
	letter-spacing: 0.1em;
	opacity: 0;
	animation: fadeIn 10s forwards;
	animation-delay: 4s;
	text-align: left;
	font-size: clamp(10px, 1vw, 16px);
}

@media screen and (min-width: 768px) {
    address>ul>li {
        text-align: center;
		font-size: clamp(16px, 1.5vw, 25px);
    }

}


i {
	padding-right: 2%;
}


h2 {
	text-align: center;
	margin: 5vw 0 5vw 0;
	padding: 3vw 0 3vw 0;
	font-size: clamp(30px, 2vw, 40px);
	background-image: linear-gradient(to right, rgb(01, 08, 23), #054869 50%, rgb(01, 08, 23));
	width: 100vw;
}

h3 {
	font-size: clamp(20px, 1.8vw, 25px);
	text-align: left;
}

 
#section1 {
	line-height: 1.8;
	display: inline-block;
	margin-top: 30px;
	-webkit-box-shadow: 0 0 10px white;
	-moz-box-shadow: 0 0 10px white;
	-o-box-shadow: 0 0 10px white;
	box-shadow: 0 0 10px white;
	padding: 5px 15px;
	width: clamp(250px, 70%, 1000px);
}


 nav {
		position: relative;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
    }


#icone {
	position: fixed;
	display: block;
	top: 15px;
	right: 40px;
	z-index: 1000;
	font-size: 6vw;
	cursor: pointer;
}

	@media screen and (max-width: 767px) {

		#sommaire {
			display: none;
			flex-direction: column;
			width: 50%;
			top: 40px;
			position: fixed;
			background-image: linear-gradient(to right, #054869 1%, rgb(01, 08, 23));
			z-index: 2000;
			right: 30px;
			padding: 0;
			border-radius: 5px;
			border: 0.5px solid aliceblue;
		}
	}

#sommaire.active {
	display: flex;
}

.menu {
	text-align: left;
	padding: 30px 8px 30px 8px;
	border-bottom: 0.5px solid white;
}

.menu:last-child {
	border-bottom: none;
}




@media screen and (min-width: 768px) {
		#icone {
		   display: none;
		}
		#sommaire {
			display: inline-block;
			margin: 0 auto;
			height: 100%;
			line-height: 100%;
			opacity: 0;
			animation: fadeIn 10s forwards;
			animation-delay: 4s;
			text-align: center;
			width: 100%;
		}
		.menu {
			display: inline-block;
			padding: 1vw 1vw 1vw 1vw;
			vertical-align: center;
			text-align: center;
			-webkit-box-shadow: 0 0 2px white;
			-moz-box-shadow: 0 0 2px white;
			-o-box-shadow: 0 0 2px white;
			box-shadow: 0 0 2px white;
		}
		#menu0 {
			display: none;
		}
	
	}

	@keyframes fadeIn {
		to {
			opacity: 1;
		}
	}


p {
	white-space: normal;
	overflow-wrap: break-word;
	text-align: justify;
} 

a:link {
	text-decoration:none;
	color: white;
}

a:visited {color: white;}

a:hover {color:#00FFFF;}

a {
	-webkit-transition: 0.5s all;
}


#logosbarres {
	width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
	flex-wrap: nowrap;
	margin-bottom: 5vw;
}

.logobarre {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
}


.logo1 {
	width: clamp(60px, 7vw, 150px);
}

.progress-container {
	width: clamp(16px, 15vw, 180px);
	height: 15px;
	border : 1px solid #e0e0e0;
	border-radius: 10px;
	margin-top: 20px;
  }
  
  #progress-bar1 {
	width: 80%;
	height: 100%;
	background-color: #e0e0e0;
	border-radius: 5px 0 0 5px;
  }

  #progress-bar2 {
	width: 80%;
	height: 100%;
	background-color: #e0e0e0;
	border-radius: 5px 0 0 5px;
  }

  #progress-bar3 {
	width: 50%;
	height: 100%;
	background-color: #e0e0e0;
	border-radius: 5px 0 0 5px;
  }


#section4 ul {
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
}


.skills {
	list-style-type: none;
	line-height: 1.5;
	border: 1px none white;
	border-radius: 50%;
	width: clamp(100px, 20vw, 170px);
    height: clamp(100px, 20vw, 170px);
	padding: 20px 20px 20px 20px;
	text-align: center;
	box-shadow: 0 2px 4px white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(circle, #054869 1%, rgb(1, 8, 23));
}

#section4bis li:nth-child(1) {
	margin-left: 2vw;
	margin-top: 3vw;
}

#section4bis li:nth-child(2) {
	margin-left: 50vw;
}

#section4bis li:nth-child(3) {
	margin-left: 2vw;
}

#section4bis li:nth-child(4) {
	margin-left: 50vw;
}

#section4bis li:nth-child(5) {
	margin-left: 2vw;
}

#section4bis li:nth-child(6) {
	margin-left: 50vw;
}

#section4bis li:nth-child(7) {
	margin-left: 2vw;
}

#section4bis li:nth-child(8) {
	margin-left: 50vw;
}

section {
	width: 100%;
	margin-left: 0;
	padding-left: 0;
	margin-right: 0;
	padding-right: 0;
	margin-top: clamp(20px, 40%, 200px);
	position: relative;
}

#section2 li {
	line-height: 150%;
	margin-bottom: 5%;
}

#section3 li {
	line-height: 150%;
	margin-bottom: 5%;
}

#section5 {
	margin-top: 125px;
}

#section5 li:nth-child(4) {
	margin-top: 25px;
}

fieldset {
	border-radius: 10px;
	border: 1px solid rgba(250, 250, 250, 0.5);
}

legend {
	font-size: 25px;
}

form li {
	padding-bottom: 10px;
}

label {
	float: left;
	width: 30%;
}

input {
	width: 300px;
	height: 20px;
	border-radius: 10px;
	padding-left: 10px;
	margin-right: 15%;
}

#commentairesid {
	width: 400px;
	height: 150px;
	border-radius: 10px;
	border-style: solid;
	text-align: left;
	padding-left: 10px;
	margin-right: 15%;
}

button {
	border-radius: 10px;
	height: 30px;
	margin-left: 40%;
	margin-top: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

button:hover {
	background-color: #00FFFF;
	color: white;
}

#bottom {
	margin-top: 10%;
}